spring:
  application:
    name: demo

  datasource:
    url: jdbc:mysql://localhost:3306/demo_db
    username: root
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080
